extends layout

block content
  h1= title
  p Welcome to #{title}
  //div=JSON.stringify(data)
  //div=JSON.stringify(agent)
  table(class='table')
    tr
      -for(var i in data[0])
        td=(i)
    tr
    each row in data
      tr
        -for(var i in row)
          td=row[i]
  div 共#{pageInfo.pageTotal}页  第#{pageInfo.pageIndex}页 

  
  ul(class='pagination')
   -for(var i=1; i <= 10;i++)
      <li !{i==pageInfo.pageIndex?'class="active"':''}><a href="?p=#{i}">!{i}</a></li>